@model IEnumerable<WebAppMVC1.Models.Invoice>
@using WebAppMVC1.Models;
@{
    ViewData["Title"] = "Index";
}

<h1>Invoices</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaidDate)
            </th>
            <th>Total Amount</th>
        </tr>
    </thead>
    @{
        var categories = (List<long?>)ViewData["TotalAmount"]; // TotalAmount-i List
        var invL = ViewBag.InvLines;
    }
    @{
        int i = 0;
        if (invL != null)
        {
            List<InvoiceLine> invlines = invL.Items;
        }
    }

    <tbody>
        @using (Html.BeginForm("InvoiceLines", "Users", FormMethod.Post))
        {
            @if (Model != null)
            {
                foreach (var item in Model)
                {

                    <tr>
                        <td>
                            @Html.RadioButton("Invoice", item.Name) @item.Name
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PaidDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => categories[i])
                        </td>
                    </tr>
                    i++;
                }
            }
            <input type="submit" value="submit" class="btn-block" />
        }
    </tbody>
</table>
<br />
<div>
    <a asp-action="Create" class="btn btn-info">Log Out (@ViewBag.UserName)</a>
</div>
